{% extends 'legalapp/base.html' %} {% load static %} {% block content %}
<section class="vh-100" style="background-color: #ffffff">
  <div class="container py-2 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-6">
        <div class="card" style="width: 45rem">
          <img src="{% static 'images/court.png' %}" class="card-img-top" alt="Banner"/>
          <div class="card-body">
            {% comment %} <div class="jumbotron"> {% endcomment %}
              <h2 class="">LEGAL MATCH</h2>
              <h4 class="">Register a Case</h4>
              <hr class="my-4" style="background:#ff8c00; height:4px;"/>
              
              <div class="row">
                <div class="col-6">
                   <p>You will be matched automatically with a suitable Lawyer</p>
                   <a class="btn btn-primary btn-lg" href="{% url 'clients' %}" role="button">I Need a Lawyer</a>
                </div>
                <div class="col-6">
                   <p>You will be matched automatically with Client according to profile</p>
                   <a class="btn btn-primary btn-lg" href="{% url 'lawyers' %}" role="button">I Need Clients</a>
                </div>
              {% comment %} </div> {% endcomment %}
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}
