{% extends 'legalapp/base.html' %} {% load static %} {% block content %}
<section class="vh-100" style="background-color: #ffffff">
  <div class="container py-2 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">

      {% comment %} LAWYER LOGIN  {% endcomment %}
      <div class="col-6">
        <div class="card" style="width: 20rem">
          <img src="{% static 'images/scale.png' %}" class="card-img-top px-5" alt="Banner" />
          <hr />
          <div class="card-body">
            <h5 class="card-title text-center">LOGIN AS A LAWYER</h5>
            <form autocomplete="off">
          <div class="form-outline m-2">
            <label class="form-label" for="Email">Email address</label>
            <input type="email" class="form-control form-control-lg" />
          </div>

          <div class="form-outline m-2">
            <label class="form-label" for="Password">Password</label>
            <input type="password" class="form-control form-control-lg" />
          </div>

          <div class="row pt-1 text-center">
            <div class="col-6">
            <button class="btn btn-primary btn-sm btn-block" type="button">Login</button>
            </div>
            <div class="col-6">
            <a href="{% url 'lawyers' %}" class="btn btn-secondary btn-sm">Register</a>
          </div>
        </div>
        </form>
          </div>
        </div>
      </div>

      {% comment %} CLIENTS LOGIN  {% endcomment %}
       <div class="col-6">
        <div class="card" style="width: 20rem">
          <img src="{% static 'images/scale.png' %}" class="card-img-top px-5" alt="Banner" />
          <hr />
          <div class="card-body">
            <h5 class="card-title text-center">LOGIN AS A CLIENT</h5>
            <form autocomplete="off">
          <div class="form-outline m-2">
            <label class="form-label" for="Email">Email address</label>
            <input type="email" class="form-control form-control-lg" />
          </div>

          <div class="form-outline m-2">
            <label class="form-label" for="Password">Password</label>
            <input type="password" class="form-control form-control-lg" />
          </div>

          <div class="row pt-1 text-center">
            <div class="col-6">
            <button class="btn btn-primary btn-sm btn-block" type="button">Login</button>
            </div>
            <div class="col-6">
            <a href="{% url 'clients' %}" class="btn btn-secondary btn-sm">Register</a>
          </div>
        </div>
        </form>
          </div>
        </div>
      </div>


    </div>
  </div>
</section>
{% endblock content %}
