<DOCTYPE html>
  {% load static %}
  <html>
    <head>
      <link rel="stylesheet" href="{% static 'css/style.css' %}" />
      <title>LEGAL MATCH</title>
    </head>
    <body>
      <div class="bg-stone-200 mt-0">
        <div class="flex bg-yellow-900 justify-between items-center h-[60px]">
          <header class="text-3xl ml-5 text-white font-semibold">
            LEGAL MATCH
          </header>
          <nav class="text-white mr-12">
            <ul class="flex gap-3 text-white">
              <li class="text-xl"><a href="#">HOME</a></li>
              <li class="text-xl"><a href="#">CLIENTS</a></li>
              <li class="text-xl"><a href="#">LAWYERS</a></li>
            </ul>
          </nav>
        </div>
        {% block content %} {% endblock content %}
      </div>
    </body>
  </html>
</DOCTYPE>
