html,
body {
  height: 100%;
  margin: 0;
  max-width: 100%;
  overflow: hidden;
}
body::before {
  color: red;
  font-size: 2rem;
  font-weight: bold;
  position: fixed;
  top: 0;
  right: 0;
}
.box {
  background-color: lightblue;
  border: 1px solid blue !important;
  min-height: 50px;
  font-size: 2rem !important;
}
.wrapper {
  min-height: 100%;
  margin-bottom: -50px;
}
#footer,
.push {
  height: 50px;
}

/* @media (min-width: 576px) {
  body::before {
    content: "SM";
  }
}

@media (min-width: 768px) {
  body::before {
    content: "MD";
  }
}

@media (min-width: 992px) {
  body::before {
    content: "LG";
  }
}

@media (min-width: 1200px) {
  body::before {
    content: "XL";
  }
}

@media (min-width: 1400px) {
  body::before {
    content: "xXL";
  }
} */
