html,
body {
  height: 100%;
  margin: 0;
  max-width: 100%;
  overflow: hidden;
}
* {
  top: 0;
  right: 0;
}
.box {
  background-color: rgb(233, 229, 254);
  border: 3px solid rgb(18, 18, 211) !important;
  border-radius: 1rem !important;
  margin: 2rem !important;
  min-height: 50px;
  font-size: 1.2rem !important;
  text-align: center;
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

/* @media (min-width: 576px) {
  body::before {
    content: "SM";
  }
}

@media (min-width: 768px) {
  body::before {
    content: "MD";
  }
}

@media (min-width: 992px) {
  body::before {
    content: "LG";
  }
}

@media (min-width: 1200px) {
  body::before {
    content: "XL";
  }
}

@media (min-width: 1400px) {
  body::before {
    content: "xXL";
  }
} */
