{% extends 'backend/base.html' %} {% block content %}
<div class="min-h-screen bg-white flex flex-col">
  <div class="mb-5 text-2xl text-center">
    <h1 class="text-3 mt-12 ml-12">Details of Registered Lawyers</h1>
  </div>
  <table
    class="table-auto border-collapse border border-slate-500 p-2 text-left ml-3 mr-3"
  >
    <thead>
      <tr>
        <th class="border border-slate-900 p-2">FirstName</th>
        <th class="border border-slate-900 p-2">LastName</th>
        <th class="border border-slate-900 p-2">Category</th>
        <th class="border border-slate-900 p-2">City</th>
        <th class="border border-slate-900 p-2">State</th>
        <th class="border border-slate-900 p-2">Gender</th>
        <th class="border border-slate-900 p-2">Experience</th>
        <th class="border border-slate-900 p-2">Skills</th>
        <th class="border border-slate-900 p-2">Email</th>
        <th class="border border-slate-900 p-2">Phone</th>
        <th class="border border-slate-900 p-2">Profile</th>
      </tr>
    </thead>
    <tbody>
      {% for lawyer in lawyers %}
      <tr>
        <td class="border border-slate-700 p-2">{{lawyer.FirstName}}</td>
        <td class="border border-slate-700 p-2">{{lawyer.LastName}}</td>
        <td class="border border-slate-700 p-2">{{lawyer.Category}}</td>
        <td class="border border-slate-700 p-2">{{lawyer.City}}</td>
        <td class="border border-slate-700 p-2">{{lawyer.State}}</td>
        <td class="border border-slate-700 p-2">{{lawyer.Gender}}</td>
        <td class="border border-slate-700 p-2">{{lawyer.Experience}}</td>
        <td class="border border-slate-700 p-2">{{lawyer.Skills}}</td>
        <td class="border border-slate-700 p-2">{{lawyer.Email}}</td>
        <td class="border border-slate-700 p-2">{{lawyer.Phone}}</td>
        <td class="border border-slate-700 p-2">{{lawyer.img.url}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}
