{% extends 'myapp/base.html' %} 
{% load static %} 
{% block content %}
<div class="container">
  <div class="row">
 <h1 class="p-3">Registered Clients</h1>

 <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>
    {% for client in clients %}
    <tr>
      <td>{{client.firstname}}</td>
      <td>{{client.lastname}}</td>
      <td>{{client.email}}</td>
    </tr>
    <tr>
      {% endfor %}
  </tbody>
</table>

</div>
</div>

{% endblock content %} 
