{% extends 'base.html' %}
{% load static %}
<!-- Block title -->
{% block title %} Backend {% endblock %}

<!-- Logout button -->
{% block nav-btn %}
<a href="{% url 'logout' %}" class="btn btn-sm text-light" id="btn-nav">Frontend</a>
<a href="{% url 'clientdashboard' %}" class="btn btn-sm text-light" id="btn-nav">CLIENTS</a>
<a href="{% url 'lawyerdashboard' %}" class="btn btn-sm text-light" id="btn-nav">LAWYERS</a>
{% endblock %}

<!-- Block footer -->
{% block footer %} style="color: #ff7f7f;" {% endblock %}

<!-- Block navbar content -->
{% block nav-content %}
<i class="fa-solid fa-unlock-keyhole"></i>&nbsp;&nbsp; Cases Dashboard
{% endblock %}

<!-- Page content -->
{% block content %} 
<div class="cotainer m-5">
    <div class="row">
        <div class="col-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>Case ID</th>
                        <th>Case Type</th>
                        <th>Client Involved</th>
                        <th>Lawyer in Charge</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for case in cases %}
                    <tr>
                        <td>{{case.case_id}}</td>
                        <td>{{case.case_type}}</td>
                        <td>{{case.client}}</td>
                        <td>{{case.lawyer}}</td>
                        <td>{{case.situation}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}