{% extends 'base.html' %}
{% load static %}
<!-- Block title -->
{% block title %} Backend {% endblock %}

<!-- Logout button -->
{% block nav-btn %}
<a href="{% url 'logout' %}" class="btn btn-sm text-light" id="btn-nav">LOG OUT</a>
<a href="{% url 'clientprofile' %}" class="btn btn-sm text-light" id="btn-nav">CLIENTS</a>
<a href="{% url 'lawyerprofile' %}" class="btn btn-sm text-light" id="btn-nav">LAWYERS</a>
{% endblock %}

<!-- Block footer -->
{% block footer %} style="color: #ff7f7f;" {% endblock %}

<!-- Block navbar content -->
{% block nav-content %}
<i class="fa-solid fa-unlock-keyhole"></i>&nbsp;&nbsp; Admininstration
{% endblock %}

<!-- Page content -->
{% block content %} 
<div class="cotainer">
    <div class="row">
        <div class="col-12">
            <table class="table m-5">
                <thead>
                    <tr>
                        <th>Case ID</th>
                        <th>Case Type</th>
                        <th>Client Involved</th>
                        <th>Lawyer in Charge</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>CAS 001</td>
                        <td>Child Custody</td>
                        <td>Mr. John Oruebi</td>
                        <td>Bar. Akpos Okada</td>
                        <td>Completed</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}