{% extends 'base.html' %} {% load static %}
<!-- Block title -->
{% block title %} Backend {% endblock %}

<!-- Logout button -->
{% block nav-btn %}
<a href="{% url 'logout' %}" class="btn btn-sm text-light" id="btn-nav"
  >Frontend</a
>
<a href="{% url 'lawyerdashboard' %}" class="btn btn-sm text-light" id="btn-nav"
  >LAWYERS</a
>
<a href="{% url 'cases' %}" class="btn btn-sm text-light" id="btn-nav">CASES</a>
{% endblock %}

<!-- Block footer -->
{% block footer %} style="color: #ff7f7f;" {% endblock %}

<!-- Block navbar content -->
{% block nav-content %}
<i class="fa-solid fa-unlock-keyhole"></i>&nbsp;&nbsp; Clients Dashboard {% endblock %}

<!-- Page content -->
{% block content %} {% endblock content %}
