{% extends 'base.html' %}
{% load static %} 
{% load crispy_forms_tags %}

<!-- Page content -->
{% block content %} 
<div class="container mt-3" style="width: 95%; font-size: 16px; font-weight: bold">
  <h2>Lawyers Registration</h2>
  <form method="POST" class="card p-3 mt-5" autocomplete="off" novalidate>
    {% csrf_token %}
    {% comment %} {{form|crispy}} {% endcomment %}
    <div class="row">
      <div class="col-4">{{form.Firm|as_crispy_field}}</div>
      <div class="col-4">{{form.FirstName|as_crispy_field}}</div>
      <div class="col-4">{{form.LastName|as_crispy_field}}</div>
    </div>
    <div class="row">
      <div class="col-4">{{form.Lawyer_type|as_crispy_field}}</div>
      <div class="col-4">{{form.Experience|as_crispy_field}}</div>
      <div class="col-4">{{form.skills|as_crispy_field}}</div>
    </div>
      <div class="row">
      <div class="col-3">{{form.Zip|as_crispy_field}}</div>
      <div class="col-3">{{form.Gender|as_crispy_field}}</div>
      <div class="col-3">{{form.City|as_crispy_field}}</div>
      <div class="col-3">{{form.State|as_crispy_field}}</div>
    </div>
     <div class="row">
      <div class="col-4">{{form.Email|as_crispy_field}}</div>
      <div class="col-3">{{form.Phone|as_crispy_field}}</div> 
      <div class="col-3">{{form.Password|as_crispy_field}}</div> 
      <div class="col-2">{{form.Profile|as_crispy_field}}</div> 
    </div>
    <button type="submit" class="btn btn-outline-primary mt-3 mb-2" style="width: 90px">Submit</button>
  </form>

  {% comment %} Message from Backend {% endcomment %}
  {% comment %} {% for message in messages %}
    {% if message.tags == 'success' %}
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
      {{ message}}
      <a href = "{% url 'frontend' %}" type="button" class="btn btn-close" data-bs-dismiss="alert" aria-label="Close"></a>
    </div>
    {% endif %}
  {% endfor %} {% endcomment %}
</div>
{% endblock content %}